
@font-face {
    font-family: HankenGrotesk;
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

body {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 0px;
    padding: 0px;
    font-family: HankenGrotesk;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: hsl(241, 81%, 54%); */
    background-image: linear-gradient(to bottom left, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    padding: 2em;
    border-radius: 0 0 2em 2em;
    color: hsl(221, 100%, 96%);
}
.score-label {
    font-size: 1.0em;
    font-weight: 600;
}
.score-value-container {
    padding: 0.6em;
    width: 10rem;
    height: 10rem;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    /* border: 1px solid red; */
}
.score-value {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}
.score-value-caption {
    font-size: 1em;
    color: hsl(241, 100%, 89%);
    text-align: center;
}
.score-comment-title {
    font-size: 1.5em;
    font-weight: 600;
}
.score-comment {
    text-align: center;
}
.summary-card {
    width: 90%;
    margin: 1em 3em;
}
.summary-category {
    display: flex;
    align-items: center;
    margin: 1em 0em;
    padding: 1em;
    border-radius: 1em;
}
.category-name {
    margin-left: 1em;
}
.summary-category:nth-child(2) {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.05);
}
.category-score {
    font-weight: 600;
    color: hsl(224, 30%, 27%);
}
.category-score-denom {
    margin-left: 0.5em;
    font-weight: 600;
    color: hsla(224, 30%, 27%, 0.5);
}
.summary-category {
    font-weight: 600;
}
.summary-category:nth-child(3) {
    color: hsl(39, 100%, 56%);
    background-color:hsla(39, 100%, 56%, 0.05);
}
.summary-category:nth-child(4) {
    color: hsl(166, 100%, 37%);
    background-color:hsla(166, 100%, 37%, 0.05);
}
.summary-category:nth-child(5) {
    color: hsl(234, 85%, 45%);
    background-color:hsla(234, 85%, 45%, 0.05);
}
.category-score {
    margin-left: auto;
}
.continue-button {
    width: 85%;
    font-family: HankenGrotesk;
    font-size: 1.0em;
    font-weight: 700;
    padding: 1em;
    margin: 0.25em;
    border-radius: 2em;
    background-color: hsl(224, 30%, 27%);
    color: hsl(221, 100%, 96%);
}
